.global_wrapper {
    background: linear-gradient(228.57deg,
            #323264 11.93%,
            #323264 57.17%,
            #643e72 87.46%);
    min-height: 100vh;
    padding-bottom: 60px;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 80px;
    position: relative;

    &::before,
    &::after {
        content: "";
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        height: 10px;
        display: inline-block;
    }

    &::before {
        background: #cacadb;
        bottom: -10px;
        left: 20px;
        width: calc(100% - 40px);
    }

    &::after {
        background: #e7e7f2;
        bottom: -20px;
        left: 40px;
        width: calc(100% - 80px);
    }
}